@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Simonetta&display=swap');

html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/f/5/b/581963.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    font-family: 'Simonetta', sans-serif;
}

.container{
    height: 92%;
    align-content: center;
}


.card{
    height: 430px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.form-check{
    display: inline-block;
    color: white;
    padding-right: 10px;
    padding-bottom: 10px;
}

#card{
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(0,0,0,0.5) !important;
}
.card-body{
    margin-top: 20px;
}
.cardList{
    height: 450px;
    margin-top: 50px;
    margin-bottom: auto;
    width: 80%;
    background-color: rgba(0,0,0,0.5) !important;
}
.cardQs-body{
    font-size: 12px;
}
.cardQs{
    height: auto;
    margin-top: 1%;
    margin-bottom: auto;
    width: 80%;
    background-color: rgba(0,0,0,0.5) !important;
}
#scrol{
    width: auto;
    height: 450px;
    overflow-y: scroll;
}
.avatar span{
    font-size: 80px;
    position: absolute;
    top: 4px;
}

.social_icon span{
    font-size: 55px;
    margin-left: 10px;
}
.social_icon .clfa {
    color: rgb(18, 54, 255);
}
.social_icon .clg {
    color: rgb(255, 18, 38);
}
.social_icon .clt {
    color: rgb(18, 219, 255);
}
.social_icon .clfa:hover{
    color: white;
    cursor: pointer;
}
.social_icon .clg:hover{
    color: white;
    cursor: pointer;
}
.social_icon .clt:hover{
    color: white;
    cursor: pointer;
}
.card-header h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover{
    color: black;
    font-style: italic;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}
 a:hover{
    font-style: italic;
    color: #FFC312;
}

.table tbody {
    color: rgb(226, 221, 241);
    font-size: 15px;
}
.my-custom-scrollbar {
    position: relative;
    height: 380px;
    overflow: auto;
    }
    .modal-header{
        padding-left: 50px;;
    }
.table-wrapper-scroll-y {
    display: block;
    }
.barra{
    margin-top: 5%;
    margin-bottom: 10%;
}

.fila{
    background-color: #FFC312;
}

.check-b{
    background-color: transparent;
    color: white;
}

.check-b:focus{
    color: white;
    outline: 0px;
    border: 0;
}

option{
    color: white;
    background-color: rgb(66, 66, 66);
}

.div-select{
    padding-bottom: 15px;
}

#concuest {
    padding: 20px 25px 25px;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

#cuest {
    width: 900px;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 60px;
    margin-bottom: 20px;
}

.sep {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 10px -25px;
}

ul.votacion{
    margin-bottom: 25px;
    list-style: none;
}
.votacion li{
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.votacion li a{
    color: gray;
    font-weight: bold;
    font-size: 16px;
}
.votacion li a:hover{
    color: black;
}
.votacion li span{
    margin-left: 10px;
}
.votacion .fl{
    margin-bottom: 5px;
}
.volver{
    display: block;
    padding-top: 15px;
    clear: both;
}

h3{
    margin-top: 20px;
    font-size: 21px;
    border-top: 1px solid #DDD;
    padding-top: 15px;
    text-align: center;
}

h2{
    color: white;
}

.modal-header h2{
    padding-left: 30%;
}

#close{
    color: white;
}
footer{
    background: #BA8B02;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #181818, #BA8B02);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #181818, #BA8B02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: cornsilk;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: 100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

a:link{
    text-decoration: none;
}
#btnCreate:hover{
background-color: darkorange;
}

.selected {
    background-color: brown;
    color: #FFF;
}